.h-box {
    display: flex;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    justify-content: space-between;
}

.items {
    padding:5px;
    /**background: linear-gradient(midnightblue,midnightblue);**/
    background: white;

}